.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5% 0;
}

.MuiCard-root {
  background-color: #3d4554 !important;
  color: white !important;
}
.cardhalf {
  width: 45%;
}

.MuiButton-contained {
  margin: 10px !important;
}
